@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --fnt-primary: 'Inter', sans-serif;
  --fnt-seconadry: 'Lexend Deca', sans-serif;
  --clr-primary: #fff;
  --clr-background: #0a0c1c;
  --clr-text-background: #1b1937;
  --clr-secondary: #ab5cdb;

  --spacer: 3em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-primary);
  font-family: var(--fnt-primary);
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-size: 0.9375rem;
}

h1 {
  font-size: calc(36 / 16rem);
  font-weight: 700;
}

p {
  opacity: 0.75;
  line-height: 1.7;
}

span {
  color: var(--clr-secondary);
}

main {
  padding: 3em;
  background-color: var(--clr-text-background);
}

.flow > * + * {
  margin-top: var(--spacer);
}

.wrapper {
  display: flex;
  margin: auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.203087);
  overflow: hidden;
}

.counters {
  display: flex;
  justify-content: space-between;
}

.count > p {
  opacity: 1;
  font-size: 1.5rem;
  font-weight: 700;
}

.count > p:last-of-type {
  font-size: 0.75rem;
  font-weight: 200;
  opacity: 0.6;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.hero-image-container {
  background: rgba(171, 92, 219, 0.7) url(./images/image-header-desktop.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  background-blend-mode: multiply;
}

@media (max-width: 500px) {
  body {
    /* padding: 0.5em; */
    margin: 0.5em;
    text-align: center;
  }
  .wrapper {
    flex-direction: column-reverse;
  }

  .hero-image-container {
    background: rgba(171, 92, 219, 0.7) url(./images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    height: 165px;
    background-size: cover;
  }

  .counters {
    flex-direction: column;
    gap: var(--spacer);
  }

  .flow {
    --spacer: 1.5em;
  }
}
